*__pycache__/


# Project Files
.idea/
build/
dist/
/dpytest.egg-info

*.pyc
__pycache__
.pytest_cache

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
cov.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
/.vscode

# Secrets files (tokens, etc...)
/.pypirc
